<script type="text/ng-template" id="header">
    <div><i class="fa fa-arrows"></i><span class="danger" ng-click="remove(item, $index)">[X]</span><div ng-controller="SummerNoteController"><summernote ng-model="composant.text" config="options"></summernote></div></div>
</script>