<script type="text/ng-template" id="layout">
    <div class="row">
        <div class="placeholder-container">
            <div class="placeholder">
                <div class="placeholder-content col-md-12" ng-model="item"  ng-if="item.title === '1 Column'">
                    <div ng-model="item.composants" class="placeholder-content-area apps-container" ui-sortable="sortableOptions">
                        <div ng-repeat="composant in item.composants track by $index" class="composant">
                            <tg-dynamic-directive ng-if="composant.type !='layout'" ng-model="composant" tg-dynamic-directive-view="getView">
                            </tg-dynamic-directive>
                        </div>
                    </div>
                </div>
                <div class="placeholder-content col-md-6" ng-if="item.title === '2 Columns'">
                    <div ng-model="item.left" class="placeholder-content-area apps-container" ui-sortable="sortableOptions">
                        <div ng-repeat="composant in item.left track by $index" class="left">
                            <tg-dynamic-directive ng-if="composant.type !='layout'" ng-model="composant" tg-dynamic-directive-view="getView">
                            </tg-dynamic-directive>
                        </div>
                    </div>
                </div>
                <div class="placeholder-content col-md-6" ng-if="item.title === '2 Columns'">
                    <div ng-model="item.right" class="placeholder-content-area apps-container" ui-sortable="sortableOptions">
                        <div ng-repeat="composant in item.right track by $index" class="right">
                            <tg-dynamic-directive ng-if="composant.type !='layout'" ng-model="composant" tg-dynamic-directive-view="getView">
                            </tg-dynamic-directive>
                        </div>
                    </div>
                </div>
            </div>
            <div class="placeholder-handle ui-sortable-handle">
                <div class="handle-move"><i class="fa fa-arrows"></i></div>
                <div class="handle-remove" ng-click="remove($index)" style="cursor:pointer"><i class="fa fa-times"></i></div>
            </div>
        </div>
    </div>
</script>