<div id="models" ng-controller="ModelsController">
    <input type="hidden"  ng-value="result"  />
    <abn-tree tree-data="models"
              on-select = "selectedModels(branch)"></abn-tree>
</div>