<!DOCTYPE html>
<html>
    <body>
        {#        {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Submit"/>
                {{ form_end(form) }}
        #}
        test
    </body>
</html>